<a href="https://colab.research.google.com/github/maliiha/machine_learning/blob/main/machine_learning_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Preprocessing

In [21]:
import pandas as pd
import numpy as nm    #csv means comma separated value . jodi text file a khuli tokhn.

In [22]:
dataset = pd.read_csv("/content/penguins.csv")

In [23]:
dataset.head()

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,Gender,year
0,1,Adelie,Torgersen,39.1,18.7,181,3750,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186,3800,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195,3250,female,2007
3,5,Adelie,Torgersen,36.7,19.3,193,3450,female,2007
4,6,Adelie,Torgersen,39.3,20.6,190,3650,male,2007

here, target value = species
others shob features

In [24]:
dataset.shape

(338, 9)

In [25]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 338 entries, 0 to 337
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              338 non-null    int64
 1   species            338 non-null    object
 2   island             338 non-null    object
 3   bill_length_mm     338 non-null    float64
 4   bill_depth_mm      338 non-null    float64
 5   flipper_length_mm  338 non-null    int64
 6   body_mass_g        338 non-null    int64
 7   Gender             329 non-null    object
 8   year               338 non-null    int64
dtypes: float64(2), int64(4), object(3)
memory usage: 23.9+ KB

In [26]:
dataset["species"].unique()

array(['Adelie', 'Gentoo', 'Chinstrap'], dtype=object)

# Labeling Island

In [27]:
dataset["island"].unique()

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

In [28]:
dataset["Gender"].unique()

array(['male', 'female', nan], dtype=object)

In [29]:
from sklearn.preprocessing import LabelEncoder
dataset["island"] = LabelEncoder().fit_transform(dataset["island"])

In [30]:
dataset["island"].unique()

array([2, 0, 1])

In [31]:
dataset.head(15)

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,Gender,year
0,1,Adelie,2,39.1,18.7,181,3750,male,2007
1,2,Adelie,2,39.5,17.4,186,3800,female,2007
2,3,Adelie,2,40.3,18.0,195,3250,female,2007
3,5,Adelie,2,36.7,19.3,193,3450,female,2007
4,6,Adelie,2,39.3,20.6,190,3650,male,2007
5,7,Adelie,2,38.9,17.8,181,3625,female,2007
6,8,Adelie,2,39.2,19.6,195,4675,male,2007
7,9,Adelie,2,34.1,18.1,193,3475,NaN,2007
8,10,Adelie,2,42.0,20.2,190,4250,NaN,2007
9,11,Adelie,2,37.8,17.1,186,3300,NaN,2007
10,12,Adelie,2,37.8,17.3,180,3700,NaN,2007
11,13,Adelie,2,41.1,17.6,182,3200,female,2007
12,14,Adelie,2,38.6,21.2,191,3800,male,2007
13,15,Adelie,2,34.6,21.1,198,4400,male,2007
14,16,Adelie,2,36.6,17.8,185,3700,female,2007

In [34]:
from sklearn.preprocessing import LabelEncoder
dataset["Gender"] = LabelEncoder().fit_transform(dataset["Gender"])

In [35]:
dataset["Gender"].unique()

array([1, 0, 2])

# Data Spliting

In [36]:
dataset.columns

Index(['rowid', 'species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'Gender', 'year'],
      dtype='object')

In [41]:
x= dataset[['island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g','year']]
y= dataset["species"]

In [42]:
x.head()

   island  bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g  year
0       2            39.1           18.7                181         3750  2007
1       2            39.5           17.4                186         3800  2007
2       2            40.3           18.0                195         3250  2007
3       2            36.7           19.3                193         3450  2007
4       2            39.3           20.6                190         3650  2007

In [43]:
y.head()

0    Adelie
1    Adelie
2    Adelie
3    Adelie
4    Adelie
Name: species, dtype: object

In [44]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

Training Phase